html, body {
    height: 100%;
  }
  
  body {
    background-size: cover;
    background-color: rgb(220, 220, 220);
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(0, 0, 0);
    text-align: left;
    overflow: hidden;
  }
  
  h1, h2 {
    font-weight: normal;
  }
  
  h1 {
    font-size: 9em;
    height: 150px;
    margin: 0;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 10px;
  }
  
  a {
    color: #eee;
    text-decoration: none;
    font-size: 1em;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #container {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
  }
  
  #zone {
    height: 160px;
    margin: 0 0 16px;
    background: #fff;
    box-shadow: 0 0 5px -1px inset, 0 0 5px #fff;
    border-radius: 1px;
    transition: box-shadow .5s;
  }
  
  #zone:hover {
    box-shadow: 0 0 5px -1px inset, 0 0 5px #fff, 0 0 5px 1px rgb(0, 0, 0) 
  inset;
  }
  
  #counter {
    transition: opacity .5s;
  }
  #counter::before {
    content: '';
    font-weight: normal;
  }
  
  /*Header*/
  
  .topnav {
    background-color: rgb(47, 78, 136);
    overflow: hidden;
    position: sticky;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
  }
  
  .topnav a {
    float: left;
    color: rgb(220, 220, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(220, 220, 220);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
  }

  /*End Header*/



  /*Footer*/

  .footer {
    border-top: 5px solid rgb(128, 128, 128);
    background-color: rgb(200, 200, 200);
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100%;
  }
  
  .footer a {
    float: left;
    color: rgb(220, 220, 220);
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .footer a:hover {
    background-color: rgb(220, 220, 220);
    color: black;
  }
  
  .footer a.active {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
  }

  /*End Footer*/

  #login {
    position:relative; top:50px;
    margin: auto;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(47, 78, 136);
    padding: 20px; 
    width: 500px;
    height: 350px;  
  }