html, body {
    height: 100%;
  }
  
  body {
    background-size: cover;
    background-color: rgb(0, 0, 0);
    font-family: "Segoe UI", Arial, sans-serif;
    color: rgb(255, 255, 255);
    text-align: center;
    overflow: hidden;
  }
  
  h1, h2 {
    font-weight: normal;
  }
  
  h1 {
    font-size: 9em;
    height: 150px;
    margin: 0;
  }
  
  h2 {
    font-size: 2em;
    margin-top: 10px;
  }
  
  a {
    color: #eee;
    text-decoration: none;
    font-size: 1em;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  #container {
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    margin: 10px;
  }
  
  #zone {
    height: 160px;
    margin: 0 0 16px;
    background: #fff;
    box-shadow: 0 0 5px -1px inset, 0 0 5px #fff;
    border-radius: 1px;
    transition: box-shadow .5s;
  }
  
  #zone:hover {
    box-shadow: 0 0 5px -1px inset, 0 0 5px #fff, 0 0 5px 1px rgb(0, 0, 0) 
  inset;
  }
  
  #counter {
    transition: opacity .5s;
  }
  #counter::before {
    content: '';
    font-weight: normal;
  }
  
  /* !!Header (Topnav = todo) , (a = botón) , (a hover / active = a con el cursor encima / a elegida)!! */
  
  .topnav {
    background-color: rgb(49, 51, 54);
    overflow: hidden;
    position: sticky;
    margin-left: -8px;
    margin-right: -8px;
    margin-top: -8px;
  }
  
  .topnav a {
    float: left;
    color: rgb(220, 220, 220);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(220, 220, 220);
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
  }

  /*End Header*/



  /*Footer*/

  .footer {
    border-top: 0px solid rgb(128, 128, 128);
    background-color: rgb(49, 51, 54);
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    margin-left: -8px;
    margin-right: -8px;
    width: 100%;
  }
  
  .footer a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .footer a:hover {
    background-color: rgb(220, 220, 220);
    color: black;
  }
  
  .footer a.active {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
  }

  /*End Footer*/


  /*Login*/

  #login {
    position:relative; top:50px;
    margin: auto;
    border-radius: 0px;
    background-color: rgb(49, 51, 54);
    border: 5px solid rgb(25,26,27);
    padding: 20px; 
    width: 500px;
    height: 350px;  
  }

   /*End Login*/


  /*Files page*/

  .uploads{
    word-wrap: break-word;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
}
.spacelol{
    width: 0em;
}
.upl{
    width: 21em;
    height: 18em;
    padding: 1em;
    margin: 1em;
    background-color: #202020;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.thmbnl{
    cursor: pointer;
    max-height: 80%;
    max-width: 100%;
    margin-bottom: 1em;
}
.thmbnl img{
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}
.transparent{
    border-color: rgba(0,0,0,0);
}
.prevNext{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 25em;
    margin: auto;
}
.prNxt{
    width: 8em;
    margin: 2em;
}
.smolflex{
    margin: 0.5em auto;
    display: flex;
    width: 50%;
    justify-content: center;
}
.delFlex{
    margin-top: 2em;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.pages{
    margin: 0.5em auto;
    display: flex;
    justify-content: center;
}
.inPages{
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid rgb(49, 51, 54);
    width: 3em;
    height: 2em;
    line-height: 2em;
}
.inPages:hover{
    cursor: pointer;
    background-color: #505050;
}
.pageInput{
    color: white;
    border: none;
    outline: none;
    background-color: transparent;
    font-size: 1em;
    width: 100%;
    text-align: center;
}
.blackInput{
    font-family: inherit;
    border: 1px solid black;
    border-radius: 4px;
    padding: 0.3rem;
    font-size: 0.8em;
    width: 10rem;
    outline: none;
    background-color: #050505;
    color: white;
}
.blackInput:focus{
    border: 1px solid #b82525;
}
.infoWrapper{
    padding: 2em;
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(49, 51, 54);
    border: 5px solid rgb(25,26,27);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoWrapper td{
    padding: 0.3em;
}
.importantFilesTxt{
    margin-top: 3em;
    width: 70%;
}
.fa, .far, .fas{
    color: #A0A0A0;
    cursor: pointer;
}
@media only screen and (min-width: 768px){
    .wrapper{
        width: 25em;
    }
    .bigwrapper{
        width: 37em;
    }
}

 /*End Files page*/